.navbar-brand img {
    width: 40px;
}
.top-player img {
    width: 56px;
}
.top-player h3 {
    color: #562eff;
}
main {
    max-width: 870px;
    background-color: #f3f1ff;
}
.top-player {
    margin-top: 30px;   
}
.top-blog img {
    width: 177px;
}
.top-blog h3 {
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #562eff;
}
.top-blog h5 {
    font-weight: 700;
}
.danny-sapio {
    color: #562eff;
}
.shadow {
    width: 807px;
    height: 0px;
    border: 1px solid #D1D1D1;
    margin-left: 30px;
}
.latest-course {
    margin-top: 50px;
    width: 870px;
    height: 420px;
    background-color: #f3f1ff;
}
.latest-course h3 {
    color: #562eff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
}
.latest-course p {
    color: #ED6B4F;
}
.card {
    border: none;
}
.star img {
    width: 17px;
}
.star {
    width: 94px;
    height: 29.3px;
}
.time img {
    width: 20px;
}
.hide-star {
    opacity: .4;
}
#rating-3 {
    font-size: 14.6;
    color: #A2A2A2;
    line-height: 22px;
    padding-left: 7px;
    padding-top: 17px;
}
#time-3 {
    font-weight: 700;
    padding-top: 17px;
}
.time {
    width: 94px;
    height: 29.3px;
    background-color: #FFE4E8;
    border-radius: 14.6px;
}
